@page
@model SobreModel
@{
    ViewData["Title"] = "Sobre";
}
    <div class="text-center mt-3">
        <p>Site desenvolvido para facilitar a visualização de notícias sobre Santana do Livramento.</p>
        <p>Desenvolvido por <a href="https://www.linkedin.com/in/lucas-pachecos/">Lucas Pacheco</a></p>
    </div>
